@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 200;
    src: url(./fonts/rounded-mgenplus-2p-thin.ttf);
}
@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 300;
    src: url(./fonts/rounded-mgenplus-2p-light.ttf);
}
@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 400;
    src: url(./fonts/rounded-mgenplus-2p-regular.ttf);
}
@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 500;
    src: url(./fonts/rounded-mgenplus-2p-medium.ttf);
}
@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 600;
    src: url(./fonts/rounded-mgenplus-2p-black.ttf);
}
@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 700;
    src: url(./fonts/rounded-mgenplus-2p-bold.ttf);
}
@font-face {
    font-family: 'Rounded Mgen +';
    font-weight: 800;
    src: url(./fonts/rounded-mgenplus-2p-heavy.ttf);
}
* {
    font-family: 'Rounded Mgen +', sans-serif;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}